{% extends 'layout.html.twig' %}
{% block siteTitle %}
    {% if category %}
        Catégorie : {{ category.name }}
    {% else %}
        Blog
    {% endif %}
{% endblock %}

{% block mainTitle %}
    {% if category %}
        <h4>Catégorie :</h4>
        <h1> {{ category.name }}</h1>
    {% else %}
        <h1>Blog</h1>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row mx-3">
        {% for row in posts | batch(3) %}
            <div class="card-deck">
                {% for post in row %}
                    <div class="card mb-4">
                        <div class="card-header">
                            <a href="{{ path('blog.show', { slug: post.slug, id: post.id } ) }}">
                                <h2 class="h5">{{ post.name }}</h2>
                            </a>
                        </div>
                        <div class="card-body">
                            {{ post.content | raw | excerpt | nl2br }}
                        </div>
                        <div class="card-footer p-0 text-center">
                            <p class="text-muted m-1 mx-2">{{ post.created_at | ago }}</p>
                            <p class="badge badge-dark m-1 mx-2 p-2">
                                <a href="{{ path('blog.category', {slug: category.slug}) }}" class="text-light">
                                    {{ post.category_name }}
                                </a>
                            </p>
                            <p class="m-0"><a href="{{ path('blog.show', { slug: post.slug, id: post.id }) }}"
                                              class="btn btn-block btn-secondary">Voir la suite</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center mt-5">
        {% if category %}
            {{ paginate(posts, 'blog.category', { slug: category.slug }) }}
        {% else %}
            {{ paginate(posts, 'blog.index') }}
        {% endif %}
    </div>

{% endblock %}
{% block aside %}
    <div class="card">
        <div class="card-header bg-secondary text-light">
            <h5 class="card-title">Catégories</h5>
        </div>
        <div class="card-body p-0">
            <div class="list-group list-group-flush">
                {% for c in categories %}
                    <a class="list-group-item {% if c.id == category.id %}active bg-secondary{% endif %}"
                       href="{{ path('blog.category', {slug: c.slug}) }}">
                        {{ c.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}