{% extends 'layout.html.twig' %}
{% set title = "Mes articles" %}
{% block siteTitle "Mes articles" %}


{% block title title %}

{% block body %}
    <div class="row">
        {% for row in posts | batch(4) %}
            <div class="card-deck">
                {% for post in row %}
                    <div class="card mb-4">
                        <div class="card-header">
                            <a href="{{ path('blog.show', { slug: post.slug, id: post.id }) }}">
                                <h2 class="h5">{{ post.name }}</h2>
                            </a>
                        </div>
                        <div class="card-body">
                            {{ post.content | raw | excerpt | nl2br  }}
                            <p class="text-muted">{{ post.created_at | ago }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-center p-0">
                            <a href="{{ path('blog.show', { slug: post.slug, id: post.id }) }}"
                               class="btn btn-block btn-secondary">Voir la suite</a>
                        </div>
                    </div>


                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center mt-5">
        {{ paginate(posts, 'blog.index') }}
    </div>

{% endblock %}
